.KeebUpdateCard {
    width: 22rem;
    text-align: center;
    margin: 0 auto;
    float: none;
    margin-top: 10px;
}

.updateKeebInput {
    width: 100%;
    text-align: center;
    background-color: mintcream;
}

.fileInput {
    margin-top:4px;
    width: 100%;
    background-color: midnightblue;
}

.fileInput:active, 
.fileInput:hover, 
.fileInput:focus, 
.fileInput:visited,
.fileInput:link
{
    background-color: midnightblue;
}

#imagePreview {
    width: 300px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group-prepend {
    background-color: lightsteelblue;
}

.input-group-text {
    color: midnightblue
}

