/* .KeebUpdateCard {
    width: 22rem;
    height: 30rem;
    text-align: center;
    margin: 0 auto;
    float: none;
    margin-top: 10px;
} */

.updateCard {
    border: 2px solid slateblue;
	box-shadow: 5px 5px 5px mediumslateblue
}

.updateKeebInput {
    width: 100%;
    text-align: center;
    background-color: mintcream;
}

.fileInput {
    margin-top:4px;
    width: 100%;
    background-color: midnightblue;
}

.fileInput:active, 
.fileInput:hover, 
.fileInput:focus, 
.fileInput:visited,
.fileInput:link
{
    background-color: midnightblue;
}

.inputLabel {
    text-align: center;
    background-color: lightsteelblue;
    width:100%;
    margin-bottom: 0px;
}

.input-group-text {
    color: midnightblue
}

