html  {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #A6A6A6;
}

.content {
    flex: 1 0 auto;
    min-height: 100vh;
}

#searchAgainBtn {
    transition-duration: 1s;
    transition-property: transform;
    transform: scale(0)
}